body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  color: rgb(240, 240, 240);
}
header {
  background-image: url(https://www.queenonline.com/global/uploads/86.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  height: 40vh;
  position: sticky;
}
header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}
header::after {
  content: "";
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 10%,
    rgba(18, 18, 18, 0.3785889355742297) 100%
  );
  position: absolute;
  bottom: 0;
  min-height: 15%;
  min-width: 100%;
}

.h1Artist {
  color: white;
  font-weight: 800;
  font-size: 3.5rem;
}

i {
  color: white;
  font-size: 1.2rem;
}
div .btn {
  border-radius: 10rem;
}
div .btn:hover {
  color: white;
  border: none;
  background-color: rgb(29, 185, 84);
}
.red {
  border: solid 1px red;
}
.z1 {
  z-index: 9999;
}
span.highlight {
  color: rgb(148, 153, 152);
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 0.8rem;
  position: relative;
}
span.highlight:hover {
  color: white !important;
  cursor: pointer;
}
p.pNumber {
  color: rgb(144, 146, 142);
}
.highlight:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(29, 185, 84);
  width: 40%;
  height: 1px;
  bottom: -2px;
  left: 30%;
}
p.title {
  font-weight: 600;
  font-size: 0.6rem;
}
p.artist {
  color: rgb(126, 141, 147);
  font-weight: 500;
  font-size: 0.8rem;
}
h2.albums {
  color: white;
  font-weight: 700;
}
.albumImg:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}
.albumImg {
  transition: 0.3s;
}
