.red-bor {
  border: 1px solid red;
}

.bg-grey {
  background-color: rgb(68, 68, 68);
}

.fixed-bottom p {
  margin: 0px;
}

.icon-grey-text {
  font-weight: 600;
  color: rgb(155, 155, 155);
  font-size: 11px;
}
