#home-body{
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(49, 85, 131), rgb(0, 0, 0));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    color: rgb(240, 240, 240);
    opacity: 0.9;
}

#home-nav{
    margin-top: 10px;
    text-align: center;

}
.nav-item{
    padding-left:14px;
    padding-right:14px;
    letter-spacing: 1px;
    font-size: xx-small;
    font-weight: bolder;
    opacity: 1;
}

#home-main-container-one{
    padding: 10px;
    margin: 0px;
    margin-top: 15px;
}

#home-main-container-two{
    padding: 10px;
    margin: 0px;
    margin-top: 10px;
}

#home-title-one{
    padding-bottom: 10px;
    margin-left: 5px;
    font-weight: bold;
}

#home-title-two{
    padding-bottom: 10px;
    margin-left: 5px;
    font-weight: bold;
}


.album-container{
    background-color: transparent;
    border: none;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    font-size: x-small;
    font-weight: bolder;
    position: relative;   
}

#logo{
    position: absolute;
    height: 20px;
    width: 22px;
    padding-top: 2px;
    opacity: 0.9;
}

.album-container:hover{
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.05);
}

.album-artist{
    align-items: center;
}

.img-fluid{
    margin-bottom: 8px; 
}

