body {
	background-color: white;
	padding: 0 !important;
}
#facebook {
	background-color: #3b5998;
	color: #fff;
	border-radius: 50px;
	margin-bottom: 05px;
}
#apple {
	background-color: #000;
	color: #fff;
	border-radius: 50px;
	margin-bottom: 05px;
}
#google {
	background-color: #8c8c8c transparent;
	color: #616467;
	border-radius: 50px;
	margin-bottom: 05px;
}
#forgot {
	margin-top: 20px;
	text-decoration: underline;
	color: grey;
	margin-left: 15px;
}
#remember_me {
	margin-left: 15px;
	margin-top: 50px;
}
#remember_me_text {
	margin-left: 15px;
	margin-top: 45px;
}
#log_in {
	color: #fff;
	border-radius: 50px;
	margin-bottom: 05px;
	background-color: green;
}
#sign_up {
	border-radius: 50px;
}
/* .container {
	position: fixed;
	width: 500px;
	height: 100px;
	/* top: 50%; */
/* left: 50%;

	margin-left: -250px;
} */
.login {
	padding: 0% 28%;
}
