body {
  background-color: white !important;
}

.vertical_navbar {
  background-color: black;
  position: absolute;
  left: 0%;
  min-width: 250px;
  /* transform: translateX(-100%); */
  /* transition: all 1s ease; */
}
a {
  color: rgb(211, 211, 211);
}

.lower_icons {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style-type: none;
}

/*
list-style: none // default is disc


ul padding to 0

*/
a:hover {
  color: white;
}
/* hr {
	/* height: 2px; */
/* border-bottom: 2px solid white; */
/* } */
div.try:after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 85%;
  height: 1px;
  bottom: 2rem;
  /*left: 30%; */
}
